.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px; 
    background-color: #F6F6F6;
    border-radius: 25px;
    margin: 40px 5%;
    padding: 50px;
    margin-bottom: 250px;
}

@media screen and (max-width: 840px) {
    .gallery {
        background-color: white;
        padding: 0px;
    }
}