.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F6F6F6; 
    border-radius: 25px;
    margin: 40px 5%;
    padding: 20px;
}