.gallery {
    margin: 25px 5%;
    background-color: #F6F6F6; 
    border-radius: 25px;
    padding: 3%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(0 , 340px));
    gap: 3rem;
}